.firstpost
  .firstposttitle
    %h3= @title = 'Login'
  .firstpostcontent
    = form_for :session, :url => session_path do |form|
      %p.text_field
        = form.label :email
        %br
        = form.text_field :email, :class => 'registerfield'
      %p.text_field
        = form.label :password
        %br
        = form.password_field :password, :class => 'registerfield'
      %p.text_field
        = form.check_box :remember_me
        = form.label :remember_me
      %p.submit_field
        = form.submit "Log in", :disable_with => "Please wait..."
      %p
        =link_to "Forgot password?", forgot_password_path
    %br

    %p
      Not a member?
      = link_to "Sign up", signup_path
