%h2 Sign in

- form_for :session, :url => session_path do |form|
  %p.text_field
    = form.label :email
    %br
    = form.text_field :email, :class => 'text'
  %p.text_field
    = form.label :password
    %br
    = form.password_field :password, :class => 'text'
  %p.text_field
    = form.check_box :remember_me
    = form.label :remember_me
  %p.submit_field
    = form.submit "Sign in", :disable_with => "Please wait..."
  %p
    =link_to "Forgot password?", new_password_path
%br

%p 
  = link_to image_tag('connect_light_medium_long.gif'), facebook_new_session_path

%p 
  Not a member?
  = link_to "Sign up", new_user_path

