= form.error_messages :class => 'error'

- if @movie.new_record?

  %p.text_field
    = form.label :upc, 'UPC'
    %br
    = form.text_field :upc, :class => 'text'
    = observe_field :movie_upc, :url => { :action => :amazon_search }, :complete => "upcResponse(request.responseJSON);", :with => 'upc'

%p.text_field
  = form.label :title
  %br
  = form.text_field :title, :class => 'text'

%p.text_field
  = form.label :format
  %br
  = form.text_field :format, :class => 'text'

%p.text_field
  = form.label :private
  = form.check_box :private

%p.text_field
  = form.label :asin, "ASIN"
  %br
  = form.text_field :asin, :class => 'text'

%p.text_field
  = form.label :image, "Picture"
  %br
  = form.text_field :image, :class => 'text'

%p.text_field
  = form.label :image_link, "Picture Link"
  %br
  = form.text_field :image_link, :class => 'text'

%p.text_field
  = form.label :thumbnail, "Thumbnail"
  %br
  = form.text_field :thumbnail, :class => 'text'

#img_holder

%p.text_field
  = form.label :borrower
  %br
  = form.text_field :borrower_id, :class => 'text'
