= form.error_messages :class => 'error'

%p.text_field
  = form.label :upc, 'UPC'
  %br
  = text_field_tag 'movie[upc]', @movie.upc, :class => 'text'
  = observe_field :movie_upc, :url => { :controller => :movies, :action => :amazon_search }, :complete => "userUpcResponse(request.responseJSON);", :with => 'upc'

%p.text_field
  = form.label :title
  %br
  = text_field_tag 'movie[title]', @movie.title, :class => 'text'
  = observe_field :movie_title, :url => { :controller => :movies, :action => :amazon_search }, :complete => "userTitleResponse(request.responseJSON);", :with => 'title'

%h4 Search Results

#img_holder
  - unless @movie.new_record? || @movie.image.blank?
    = image_tag(@movie.image)

%p.text_field
  = form.label :format
  %br
  = select_tag 'movie[format]', options_for_select(Movie::FORMATS, @movie.format), :class => 'text'
