= form.error_messages :class => 'error'

%p.text_field
  = form.label :title
  %br
  = text_field_tag 'movie[title]', @movie.title, :class => 'text'

%p.text_field
  = form.label :upc, 'UPC'
  %br
  = text_field_tag 'movie[upc]', @movie.upc, :class => 'text'

%h4 Search Results

#img_holder
  - unless @movie.new_record? || @movie.image.blank?
    = image_tag(@movie.image)

= form.label :genre
%br
= select_tag 'movie[genre_id]', options_for_select([nil] + Genre.all.collect {|g| [g.name, g.id]}, @movie.genre_id), :class => 'text'

%p.text_field
  = form.label :format
  %br
  = select_tag 'movie[format]', options_for_select(Movie::FORMATS, @movie.format), :class => 'text'
