%h2 Listing movies

- if @movies.size > 0
  = render :partial => "search"
  = will_paginate @movies
  %table
    %thead
      %tr
        %th
        %th
          = sortable_link 'Title', :column => 'title'
        %th
          = sortable_link 'Format', :column => 'format'
        %th 
        %th 
        %th 
    %tbody
      - @movies.each do |movie|
        %tr{:class => cycle('odd', 'even')}
          %td= link_to(image_tag(movie.thumbnail), movie) unless movie.thumbnail.nil?
          %td= h movie.title
          %td= h movie.format
          %td= link_to 'Edit', edit_movie_path(movie)
          %td= link_to 'Delete', movie, :confirm => 'Are you sure?', :method => :delete
  %br
  = will_paginate @movies
  = link_to 'New movie', new_movie_path
- else
  %p
    You don't have any movies.
    =link_to 'Add some', new_movie_path

