%h1= @title = 'Listing Movies'

- if @movies.size > 0
  = render :partial => "search"
  = link_to 'New movie', new_movie_path
  %br
  %br
  .wp-pagenavi
    =navigation_links('a', controller.controller_name)
  %table{:style => "width: 100%"}
    %tfoot
      %tr.wp-pagenavi
        %td{:style => ""}
          = "#{@movies.total_entries} total movies"
        %td{:colspan => 4, :style => ""}
          = will_paginate @movies
    %thead
      %tr
        %th.text
        %th.text
          = sortable_link 'Title', :column => 'title'
        %th.text
          = sortable_link 'Genre', :column => 'genre'
        %th.text
          = sortable_link 'Format', :column => 'format'
    %tbody
      - @movies.each do |movie|
        %tr{:class => cycle('odd', 'even')}
          %td.thumbnail= link_to(image_tag(thumbnail(movie), :title => movie.title), movie_path(movie))
          %td.title= h movie.title
          %td.genre= h movie.genre.name unless movie.genre.nil?
          %td.format= h movie.format
          - if current_user && current_user.admin?
            %td= link_to 'Edit', edit_movie_path(movie)
            %td=# link_to 'Delete', movie, :confirm => 'Are you sure?', :method => :delete
- else
  %p
    There are no movies. Please
    =link_to 'Add some', new_movie_path
