= form.error_messages :class => 'error'

%p Add a new movie by either adding the UPC code, or searching by title

- if @users_movie.new_record?

  %p.text_field
    = form.label :upc, 'UPC'
    %br
    = text_field_tag 'movie[upc]', nil, :class => 'text', :tabindex => 1
    = observe_field :movie_upc, :url => { :controller => :movies, :action => :amazon_search }, :complete => "userUpcResponse(request.responseJSON);", :with => 'upc'

%p.text_field
  = form.label :title
  %br
  = text_field_tag 'movie[title]', nil, :class => 'text', :tabindex => 2
  = observe_field :movie_title, :url => { :controller => :movies, :action => :amazon_search }, :complete => "userTitleResponse(request.responseJSON);", :with => 'title'

%h4 Search Results

#img_holder

%p.text_field
  = form.label :format, {}, :for => 'movie_format'
  %br
  = select_tag 'movie[format]', options_for_select(Movie::FORMATS), :class => 'text', :tabindex => 3

%p.text_field
  = form.label :rating, {}, :for => 'movie_rating'
  %br
  = select_tag 'movie[rating]', options_for_select(Movie::RATINGS), :class => 'text', :tabindex => 4

