- if @users_movie.errors.any?
  .fieldWithErrors
    %h2
      =pluralize(@users_movie.errors.count, "error")
      prohibited this movie from being added to your collection:
    %ul
    - @users_movie.errors.full_messages.each do |msg|
      %li.error
        = msg

%p Add a new movie by either adding the UPC code, or searching by title

= form.fields_for :movie do |movie_form|
  %p.text_field
    = movie_form.label :title
    %br
    = movie_form.text_field :title, :class => 'text'

  %p.text_field
    = movie_form.label :upc, "UPC"
    %br
    = movie_form.text_field :upc, :class => 'text'

  %h4 Search Results

  #img_holder

  %p.text_field
    = movie_form.label :genre
    %br
    = select_tag 'users_movie[movie_attributes][genre_id]', options_for_select([nil] + Genre.all.collect {|g| [g.name, g.id]}, @users_movie.movie.genre_id), :class => 'text'

  %p.text_field
    = movie_form.label :format
    %br
    = select_tag 'users_movie[movie_attributes][format]', options_for_select(Movie::FORMATS, @users_movie.movie.format), :class => 'text'

  %p.text_field
    = form.label :rating, {}
    %div{:id => @users_movie.rating || 'rating'}
    :javascript
      rating = "#{@users_movie.rating || 0 }";
      rated  = "#{@users_movie.rating? ? 'true': ''}";
      //new Starbox("#{@users_movie.id || 'rating'}", rating, {rated: rated});
