%h2 Listing movies

- if @users_movies.size > 0
  = render :partial => "search"
  = link_to 'New movie', new_users_movie_path
  = will_paginate @users_movies
  %table
    %thead
      %tr
        %th
        %th
          = sortable_link 'Title', :column => 'movies.title'
        %th
          = sortable_link 'Genre', :column => 'genre'
        %th
          = sortable_link 'Format', :column => 'movies.format'
        %th
          Rating
        %th
        %th
        %th
    %tbody
      - @users_movies.each do |users_movie|
        - movie = users_movie.movie
        %tr{:class => cycle('odd', 'even')}
          %td.thumbnail= link_to(image_tag(thumbnail(movie), :title => movie.title), users_movie_path(users_movie))
          %td= h movie.title
          %td= h movie.genre.name unless movie.genre.nil?
          %td= h movie.format
          %td{:id => "rating_#{users_movie.id}" }
          = render :partial => 'movies/rating', :locals => {:users_movie => users_movie}
          %td= link_to 'Edit', edit_users_movie_path(users_movie)
          %td= link_to 'Delete', users_movie, :confirm => 'Are you sure?', :method => :delete
  %br
  = will_paginate @users_movies
  %b= "#{@users_movies.total_entries} total movies"  
- else
  %p
    You don't have any movies.
    =link_to 'Add some', new_users_movie_path
