%h2 Listing movies

- if @users_movies.size > 0
  = render :partial => "search"
  %table
    %thead
      %tr
        %th
        %th
          = sortable_link 'Title', :column => 'title'
        %th
          = sortable_link 'Format', :column => 'format'
          %th
            Rating
    %tbody
      - @users_movies.each do |users_movie|
        - movie = users_movie.movie
        %tr{:class => cycle('odd', 'even')}
          %td= link_to(image_tag(movie.thumbnail), movie) unless movie.thumbnail.nil?
          %td= h movie.title
          %td= h movie.format
          %td= h users_movie.rating
          %td= link_to 'Show', users_movie
          %td= link_to 'Edit', edit_users_movie_path(users_movie)
          %td= link_to 'Delete', users_movie, :confirm => 'Are you sure?', :method => :delete
  %br
  = link_to 'New movie', new_users_movie_path
- else
  %p
    You don't have any movies.
    =link_to 'Add some', new_users_movie_path

