- if @user.errors.any?
  .fieldWithErrors
    %h2
      =pluralize(@user.errors.count, "error")
      prohibited this user from being saved:
    %ul
    - @user.errors.full_messages.each do |msg|
      %li.error
        = msg

%p.text_field
  = form.label :email
  %br
  = form.text_field :email, :class => 'registerfield'
%p.text_field
  = form.label :password
  %br
  = form.password_field :password, :class => 'registerfield'
