%h2 Sign up

- form_for @user do |form|
  = render :partial => '/users/form', :object => form
  = form.submit 'Sign up', :disable_with => 'Please wait...'

%br

%h3 Sign in with Facebook
= fb_connect_javascript_tag
= init_fb_connect "XFBML","Api"
= fb_login_and_redirect facebook_new_session_path
