.firstpost
  .firstposttitle
    %h3= @title = 'Change your password'
  .firstpostcontent
    %p Choose a new password below.

    = form_for(:password_reset, |
        url: [@user, :password, token: @user.confirmation_token], |
        html: { :method => :put }) do |form| |

      %p.password_field
        = form.label :password, "Choose password"
        %br
        = form.password_field :password, :class => 'text'
      %p.submit_field
        = form.submit "Save this password", :disable_with => "Please wait..."
