!!!
%html{ 'xmlns' => "http://www.w3.org/1999/xhtml", 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    = stylesheet_link_merged :base, :media => 'screen, projection'
    = stylesheet_link_merged :print, :media => 'print'
    /[if IE]
      = stylesheet_link_merged :ie, :media => 'screen, projection'
    = javascript_include_merged :base

    %title= "Movie Collector"
  %body
    = fb_connect_javascript_tag
    #container
      #header
        %h1= link_to 'Movie Collector', root_path 
        %ul#links
          %li= link_to 'Source Code', 'http://github.com/invalidusrname/movie_collector'
      = render :partial => 'layouts/sidebar'
      #content
        = render :partial => 'layouts/flashes'
        = yield
      #footer
        &copy; 2009 Matt McMahand
