!!!
%html{ :dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}
    %meta{'name' => 'description', 'content' => 'MovieCollector allows you to collect, catalogue and rate your favorite movies'}
    %meta{'name' => 'keywords', 'content' => 'dvd catalog, blu-ray catalog, movie organizer, movie database, movie, dvd, collection'}
    %meta{'name' => 'viewport', 'content' => 'width=device-width,initial-scale=1'}
    = csrf_meta_tag
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"

    %title
      = @title ? "#{@title} - Movie Collector" : "Movie Collector - Catalog your collection of movies"
    = yield(:head)
  %body
    #pages
    #pagewrapper
      = render_or_default('header')
      = render_or_default('topnav')
      #main
        = render :partial => 'shared/flashes'
        = yield
      = render_or_default('footer')
