= stylesheet_link_merged :facebook, :media => 'screen, projection'
/ = javascript_include_merged :facebook
%script{:type => "text/javascript",
        :src  => "/javascripts/application.js?#{Time.now.to_i}"}
%script{:type => "text/javascript",
        :src  => "/javascripts/facebooker.js?#{Time.now.to_i}"}

%br
%br

.fbbody
  - fb_tabs do
    = fb_tab_item "Your Movies", my_movies_path,  :selected => (!@users_movies.nil?)
    = fb_tab_item "Add Movie", new_users_movie_path, :selected => (!params['id'].present? && !@movie.nil?)
    = fb_tab_item "Playing in theaters", box_office_path, :selected => (!@films.nil?)
  %br
  %br

  = yield
