!!!
%html{ 'xmlns' => "http://www.w3.org/1999/xhtml", 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}
    %meta{'name' => 'keywords', 'content' => 'dvd catalog, blu-ray catalog, movie organizer, movie database, movie, dvd, collection'}
    %meta{'name' => 'description', 'content' => 'MovieCollector allows you to collect, catalogue and rate your favorite movies'}
    = stylesheet_link_merged :base, :media => 'screen, projection'
    = stylesheet_link_merged :print, :media => 'print'
    /[if IE]
      = stylesheet_link_merged :ie, :media => 'screen, projection'
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}  
    = javascript_include_merged :base
    %title= @title? "#{@title} - Movie Collector" : "Movie Collector - Catalog your collection of movies"
  %body
    = fb_connect_javascript_tag
    #container
      #header
        = link_to 'Movie Collector', root_path, :id => 'logo' 
        %ul#links
          %li= link_to 'Source Code', 'http://github.com/invalidusrname/movie_collector'
      = render :partial => 'shared/sidebar'
      #content
        = render :partial => 'shared/flashes'
        = render :partial => 'shared/no_ie'
        = yield
      #footer
        &copy; 2009 Matt McMahand
        = render :partial => 'shared/analytics' if Rails.env == 'production'